
*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
body{
    font-family: 'Homenaje', sans-serif;
}

.main-header{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-F.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.main-nav{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) );
    display: flex;

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 20px 40px;
    font-size: 1.3rem;
}

ul{
    display: flex;
    margin-left: auto;
    margin-right: 100px;
}
ul li a{
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.3rem;
    color: white;
}

ul li a:hover{
    background: blueviolet;
}

.content-header{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.content-header h1{
    font-size: 7rem;
    
}
.content-header p{
    font-size: 3rem;
    margin: 15px 50px;
}

.content-header a{
    font-size: 1.3rem;
    color: white;
    display: inline-block;
    padding: 15px 28px ;
    background: blueviolet;
}

.content-header a:hover{
    background: rgb(180, 129, 228);
    border: 2px solid white;
    padding: 13px 19px;
}