
*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
body{
    font-family: 'Homenaje', sans-serif;
    scroll-behavior: smooth;
}

.main-header{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-F.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}


.main-nav ul{
    display: flex;
    margin-left: auto;
    margin-right: 100px;
    margin-top: 10px;
    text-decoration: none;
}
.main-nav ul li a{
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.3rem;
    color: white;
    transition: all 0.5s ease;
}
.navegador ul li .dot::before,
.navegador ul li .dot::after{
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 50%;
    display: block;
    transition: .2s ease-out;
}

.main-nav ul li a:hover{
    background: linear-gradient(rgba(138, 43, 226, 0.3), rgba(138, 43, 226,0.3) );
    
}

.content-header{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.content-header h1{
    font-size: 7rem;
    
}
.content-header p{
    font-size: 3rem;
    margin: 15px 50px;
}

.content-header a{
    font-size: 1.3rem;
    color: white;
    display: inline-block;
    padding: 15px 28px ;
    background: blueviolet;
}

.content-header a:hover{
    background: rgb(180, 129, 228);
    border: 2px solid white;
    padding: 13px 19px;
}


footer .contenedor {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
}

.sociales {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: #333;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}