

*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Homenaje', sans-serif;
}

.main-header{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-F.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.main-nav{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) );
    display: flex;

}

.navegador{
    position: fixed;
    top: 50%;right: 30px;
    transform: translateY(-50%);
    z-index: 1000;
}
.navegador ul{
    list-style: none;
    padding: 0;margin: 0;
}
.navegador ul li{
    width: 200px;
    position: relative;
    text-align: right;
}
.navegador ul li .dot{
    color: rgb(255, 255, 255);
    display: block;
    padding: 5px 0;
}
.navegador ul li .dot span{
    display: inline-block;
    background: rgb(123, 75, 199,0.3);
    letter-spacing: 1px;
    padding: 10px 25px;
    margin-right: 30px;
    border-radius: 3px;
    transform: translateX(30px);
    opacity: 0;
}

.navegador ul li:hover .dot span{
    transform: translateX(0px);
    opacity: 1;
}

.navegador ul li .dot span::before{
    content: '';
    position: absolute;
    top: 50%;right: 0;
    transform: translate(7px, -50%);
    border-left: 7px solid rgb(123, 75, 199,0.3);
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    display: block;
}
.navegador ul li .dot::before,
.navegador ul li .dot::after{
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 50%;
    display: block;
    transition: .2s ease-out;
}
.navegador ul li .dot-active::after,
.navegador ul li .dot::after{
    transform: translateY(-50%) scale(1);
}
.navegador ul li .dot::before{
    height: 10px;
    width: 10px;
    border: 2px solid rgb(184, 219, 57);
    right: 0;
    transform: translateY(-50%);
}
.navegador ul li .dot::after{
    height: 5px;
    width: 5px;
    border: 2px solid rgb(58, 3, 3);
    right: -5px;
    transform: translateY(-10%) scale(0);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 20px 40px;
    font-size: 1.3rem;
    
}
.logo img{
    width: 35%;
}

.main-nav ul{
    display: flex;
    margin-left: auto;
    margin-right: 100px;
    margin-top: 10px;
}
.main-nav ul li a{
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.3rem;
    color: white;
    transition: all 0.5s ease;
}
.navegador ul li .dot::before,
.navegador ul li .dot::after{
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 50%;
    display: block;
    transition: .2s ease-out;
}

.main-nav ul li a:hover{
    background: linear-gradient(rgba(138, 43, 226, 0.3), rgba(138, 43, 226,0.3) );
    
}

.content-header{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.content-header h1{
    font-size: 7rem;
    
}
.content-header p{
    font-size: 3rem;
    margin: 15px 50px;
}

.content-header a{
    font-size: 1.3rem;
    color: white;
    display: inline-block;
    padding: 15px 28px ;
    background: blueviolet;
}

.content-header a:hover{
    background: rgb(180, 129, 228);
    border: 2px solid white;
    padding: 13px 19px;
}

.Teoria h1{
    padding: 20px 50px;
    font-size: 7rem;
    color: aliceblue;
}
.Teoria p{
    padding: 20px 50px;
    font-size: 1.5rem;
    color: aliceblue;
}

.temas h1{
    padding: 20px 50px;
    font-size: 5rem;
    color: aliceblue;
}
#Sintaxis{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-Sintaxis.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#Tipodedatos{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-tipodatos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#Variables{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-Variables.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#Concatenacion{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-Conca.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#OpA{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-Constante.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#Alert{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-Variables.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#promt{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-Variables.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#Entradadedatos{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-EntDatos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#eventoONCLICK{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-EntDatos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

#eventoONCLICKExt{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-EntDatos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#eventoOnMouse{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-EntDatos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#FunEven{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-EntDatos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#Form{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-EntDatos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#Cond{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-EntDatos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#while{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-EntDatos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#Dwhile{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-EntDatos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#For{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-EntDatos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#Date{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-EntDatos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#funPar{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-EntDatos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#funCal{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-EntDatos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#funVal{
    background: linear-gradient(rgba(68, 68, 68, 0.6), rgba(0,0,0,0.6) ), url(../Img/Fondo-EntDatos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.titulo{
    text-align: center;
}

.sub-title{
    text-align: left;
    font-size: 3rem;
}

.Base p{
    padding: 20px 50px;
    font-size: 1.5rem;
    color: aliceblue;
}
 .codigo{
    display: flex;
    width: 90%;
    height: 50%;
    margin-left: 5%;
    margin-right: 20x;
    margin-top: 10px;
}
.Dos{
    width: 50%;
}
.Dos p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
 .Dos .texto-ingresado{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(255, 255, 255);
    margin-left: 18px;
    text-decoration: none;
    background-color: #273746;
    outline: none;
    color: white;
    font-size: 1,5rem;
    
}
.Uno{
    width: 50%;

}
.Uno p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.texto-ejemplo{
    width: 100%;
    border: 2px solid rgb(255, 255, 255);
    height: 100%;
    text-decoration: none;
    background-color: #273746;
    outline: none;
    color: white;
    font-size: 1,5rem;
    justify-content: center;
}
.ej {
    background: #84898f;
    padding: 20px 50px;
    font-size: 1.5rem;
    color: aliceblue;
}

.texto-ejemplo .noCopy{
    color: red;
}

.Tres{
 width: 50%;
 margin-left: 18px;
 margin-right: 30px;
}
.Tres p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.Tres .editor{
    margin-left: 18px;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    background-color: #c9cfd4;
    color: white;
}




@media screen and (max-width:1200px){
    
    #Sintaxis .codigo{
        width: 90%;
    }
    #Sintaxis .sub-title{
        font-size: 2.5rem;
    }
    .logo img{
        width: 10%;
    }
}
@media screen and (max-width:600px){
    
    #Sintaxis .codigo{
        width: 55%;
    }
    #Sintaxis .sub-title{
        font-size: 2rem;
    }
    .logo img{
        width: 40%;
    }
}



footer .contenedor {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
}

.sociales {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: #333;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}